// @use 'variables';

@mixin section-area {
    header {
        width: 100%;
        height: 100vh;
        text-decoration: none;
        background: url('https://www.rawpixel.com/image/3864336/image-background-wallpaper-banner') fixed;
        background-size: cover;
        background-repeat: no-repeat    ;
    }

    h1 {
        color: $logo-text;
        background: $logo-color-overlay;
        font-size: $text-parimary-size;
        font-family: $text-primary-font;
    }
    h2 {
        transform: uppercase;
        top: 50%;
        left: 30px;
        bottom: 0;
        right: 0;
        color: $h2-color;
    }
    
}