@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap');

//CSS Zen Garden
$logo-color-overlay: rgba(0, 0, 0, .5);
$logo-text: #fff;
$text-parimary-size: 40px;
$text-primary-font: 'Elsie Swash Caps', cursive;


$h2-color: #ff9300;
$bg-links-color: #000066;