@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  background-repeat: no-repeat;
  background-size: cover;
  grid-gap: 20px;
  margin: 0 20px;
      grid-template-areas: 'intro intro' 'aside main' 'aside main';
}

.page-wrapper .intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: intro;
}

.page-wrapper .main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: main;
  padding: 20px;
}

.page-wrapper .sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aside;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
  /* background-color: rgba(0, 0, 0, .7); */
      grid-template-areas: 'header header' 'summery preamble';
}

.intro header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.intro .summary {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: summery;
  -webkit-animation: moving-container-summary 5s ease-in-out;
          animation: moving-container-summary 5s ease-in-out;
}

@-webkit-keyframes moving-container-summary {
  0% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
    opacity: 5px;
  }
  20% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    opacity: 1;
  }
}

@keyframes moving-container-summary {
  0% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
    opacity: 5px;
  }
  20% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    opacity: 1;
  }
}

.intro .preamble {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: preamble;
  -webkit-animation: moving-container-preamble 5s ease-in-out;
          animation: moving-container-preamble 5s ease-in-out;
}

@-webkit-keyframes moving-container-preamble {
  0% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: 5px;
    left: 50%;
  }
  20% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
    opacity: 1;
  }
}

@keyframes moving-container-preamble {
  0% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: 5px;
    left: 50%;
  }
  20% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
    opacity: 1;
  }
}

header {
  background: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODQ4NDUwLXdpa2ltZWRpYS1pbWFnZS1qb2I1NzItMS5qcGc.jpg") fixed;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
}

header h1 {
  color: #ff9300;
  font-size: 40px;
  padding: 40px;
  font-family: "Elsie Swash Caps", cursive;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
}

header h2 {
  position: relative;
  color: #fff;
  font-size: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 22%;
  margin-top: 12%;
  border-radius: 5px;
  -webkit-animation: rotateWordsSecond 18s linear infinite 1s;
          animation: rotateWordsSecond 18s linear infinite 1s;
}

header h2 abbr {
  text-decoration: none;
}

header h1 {
  -webkit-animation: zen-garden 5s ease-out;
          animation: zen-garden 5s ease-out;
}

@-webkit-keyframes zen-garden {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  20%,
  30% {
    visibility: visible;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  70%,
  80%,
  90% {
    visibility: visible;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  10%,
  20%,
  30% {
    visibility: visible;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes zen-garden {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  20%,
  30% {
    visibility: visible;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  70%,
  80%,
  90% {
    visibility: visible;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  10%,
  20%,
  30% {
    visibility: visible;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

header h2 {
  -webkit-animation: animateText 5s ease-in;
          animation: animateText 5s ease-in;
}

@-webkit-keyframes animateText {
  0% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateY(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(360deg) rotateY(15deg) translateY(-30px);
    font-size: 10rem;
  }
  30% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(-1000px) rotateY(360deg) rotateY(15deg) translateY(30px);
            transform: perspective(-1000px) rotateY(360deg) rotateY(15deg) translateY(30px);
    font-size: 8rem;
    background: none;
  }
  50% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(500px) rotateY(360deg) rotateY(45deg) translateY(50px);
            transform: perspective(500px) rotateY(360deg) rotateY(45deg) translateY(50px);
    font-size: 6rem;
    background: none;
  }
  80% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    font-size: 5rem;
    background: none;
  }
  80% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateX(45deg) translateY(30px);
            transform: perspective(1000px) rotateY(360deg) rotateX(45deg) translateY(30px);
    font-size: 5rem;
    background: none;
  }
}

@keyframes animateText {
  0% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateY(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(360deg) rotateY(15deg) translateY(-30px);
    font-size: 10rem;
  }
  30% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(-1000px) rotateY(360deg) rotateY(15deg) translateY(30px);
            transform: perspective(-1000px) rotateY(360deg) rotateY(15deg) translateY(30px);
    font-size: 8rem;
    background: none;
  }
  50% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(500px) rotateY(360deg) rotateY(45deg) translateY(50px);
            transform: perspective(500px) rotateY(360deg) rotateY(45deg) translateY(50px);
    font-size: 6rem;
    background: none;
  }
  80% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
            transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    font-size: 5rem;
    background: none;
  }
  80% {
    /* background-position: 0 0; */
    -webkit-transform: perspective(1000px) rotateY(360deg) rotateX(45deg) translateY(30px);
            transform: perspective(1000px) rotateY(360deg) rotateX(45deg) translateY(30px);
    font-size: 5rem;
    background: none;
  }
}

.summary {
  background: #000066;
  padding: 20px;
  color: #fff;
  height: 8rem;
  margin-top: -25%;
  border-radius: 0 5px 5px 0px;
  line-height: 1.5rem;
}

.summary a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.summary a:hover {
  color: #98ca;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.summary abbr {
  text-decoration: none;
  font-weight: bold;
}

.summary abbr:hover {
  color: #98ca;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.preamble {
  background: #78f107;
  padding: 20px;
  margin-top: -25%;
  border-radius: 5px 0 0 5px;
  line-height: 1.5rem;
}

.preamble abbr {
  text-decoration: none;
  font-weight: bold;
}

.preamble abbr:hover {
  color: #98ca;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.preamble h3 {
  color: #003366;
  padding-bottom: 10px;
}

.supporting {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 20px;
      grid-template-areas: 'explanation participation' 'benefits benefits' 'requirements requirements' 'footer footer';
  /* Styling sidebar */
  line-height: 1.5rem;
}

.supporting .explanation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: explanation;
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
  padding: 15px;
}

.supporting .participation {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: participation;
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
  padding: 15px;
}

.supporting .benefits {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: benefits;
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
  padding: 15px;
}

.supporting .requirements {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: requirements;
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
  padding: 15px;
}

.supporting aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  padding: 20px;
}

.supporting a {
  text-decoration: none;
}

.supporting a:hover {
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: rgba(0, 0, 0, 0.5);
}

.supporting abbr {
  text-decoration: none;
  color: #003366;
}

.supporting abbr:hover {
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background: rgba(0, 0, 0, 0.5);
}

aside {
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
  height: 55%;
}

aside .select {
  color: #231333;
  font-size: 30px;
}

aside aside nav li {
  list-style-type: none;
}

aside aside nav li a {
  text-decoration: none;
  color: #000;
  line-height: 2rem;
}

aside aside nav li a:hover {
  color: #98ca;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main h3 {
  color: #000066;
  padding-bottom: 10px;
}

.design-selection {
  color: #fff;
  padding: 10px;
  background: #231333;
  margin: 20px;
  border-bottom-right-radius: 50px;
}

.design-selection li a {
  color: #fff;
}

.design-archives {
  color: #fff;
  padding: 10px;
  background: #233;
  margin: 20px;
  border-bottom-right-radius: 50px;
}

.design-archives li a {
  color: #fff;
}

.zen-resources {
  color: #fff;
  padding: 10px;
  background: #453;
  margin: 20px;
  border-bottom-right-radius: 50px;
}

.zen-resources abbr {
  color: #fff;
}

.zen-resources abbr:hover {
  color: #98ca;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.zen-resources [title] {
  color: #fff;
}

aside .select {
  color: #ff9300;
  font-size: 30px;
}

aside nav li {
  list-style-type: none;
}

aside nav li a {
  text-decoration: none;
  color: #000;
  line-height: 2rem;
}

aside nav li a:hover {
  color: #98ca;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.design-archives h3 {
  color: #ff9300;
  margin-top: 30px;
}

.zen-resources h3 {
  color: #ff9300;
  margin-top: 20%;
}

.zen-resources ul li {
  list-style-type: none;
}

.zen-resources ul li a {
  text-decoration: none;
  line-height: 2rem;
  color: #000;
}

.zen-resources ul li a:hover {
  color: #98ca;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.zen-resources abbr {
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background: #003366;
  -webkit-box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
          box-shadow: inset 0 0 20px #17e18f, 0 0 50px #003366;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: bold;
  padding: 10px 20px;
}

footer a:hover {
  color: #fff;
  background: #008000;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */