
// styles.scss

@import 'atoms';  // assumes file is named _atoms.scss
@import 'molecules';
@import 'organisms';  // can shorten the name if we like :)
@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.page-wrapper {
    @include banner;
}

.summary {
    color: green;
    // display: flex;
    @include summery-and-preamble;
    @include borderbackgrounds(#ff8a00, 2px)
}
.preamble {
    position: relative;
    margin-left: 50%;
    @include summery-and-preamble;
    @include borderbackgrounds(#66ff33, 2px)
}