@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Elsie+Swash+Caps:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Elsie+Swash+Caps:wght@900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-areas: "intro intro" "aside main" "aside main";
}
.page-wrapper .intro {
  grid-area: intro;
  background-color: rgba(243, 236, 236, 0.7);
}
.page-wrapper .intro p {
  font-family: "Comfortaa", cursive;
}
.page-wrapper .main {
  font-family: "Comfortaa", cursive;
  grid-area: main;
  padding: 20px;
}
.page-wrapper .main h3 {
  font-size: 28px;
  font-family: "Maven Pro", sans-serif;
}
.page-wrapper .sidebar {
  font-family: "Comfortaa", cursive;
  grid-area: aside;
}
.page-wrapper .sidebar h3 {
  font-family: "Maven Pro", sans-serif;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  /* background-color: rgba(0, 0, 0, .7); */
  grid-template-areas: "header" "summery" "preamble";
}
.intro header {
  grid-area: header;
  font-family: "Maven Pro", sans-serif;
}
.intro .summary {
  grid-area: summery;
  font-family: "Comfortaa", cursive;
  animation: moving-container-summary 5s ease-in-out;
}
@keyframes moving-container-summary {
  0% {
    transform: translateX(40%);
    opacity: 5px;
  }
  20% {
    transform: translateY(-20%);
    opacity: 1;
  }
  40% {
    transform: translateX(20%);
    opacity: 1;
  }
  60% {
    transform: translateY(-20%);
    opacity: 1;
  }
  80% {
    transform: translateX(-80%);
    opacity: 1;
  }
}
.intro .preamble {
  grid-area: preamble;
  animation: moving-container-preamble 5s ease-in-out;
}
@keyframes moving-container-preamble {
  0% {
    transform: translateX(-40%);
    opacity: 5px;
    left: 50%;
  }
  20% {
    transform: translateY(20%);
    opacity: 1;
  }
  40% {
    transform: translateX(-20%);
    opacity: 1;
  }
  60% {
    transform: translateY(20%);
    opacity: 1;
  }
  80% {
    transform: translateX(80%);
    opacity: 1;
  }
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODQ4NDUwLXdpa2ltZWRpYS1pbWFnZS1qb2I1NzItMS5qcGc.jpg") fixed;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header h1 {
  color: #fff;
  font-size: 81px;
  padding: 81px;
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
}
header h2 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  border-radius: 5px;
  animation: rotateWordsSecond 18s linear infinite 1s;
}
header h2 abbr {
  text-decoration: none;
}
header h1 {
  animation: zen-garden 5s ease-out;
}
@keyframes zen-garden {
  0% {
    transform: translateY(0);
  }
  10%, 20%, 30% {
    visibility: visible;
    transform: translateY(-100vh);
  }
  70%, 80%, 90% {
    visibility: visible;
    transform: translateY(100vh);
  }
  10%, 20%, 30% {
    visibility: visible;
    transform: translateY(-100vh);
  }
}
header h2 {
  animation: animateText 5s ease-in;
}
@keyframes animateText {
  0% {
    /* background-position: 0 0; */
    transform: perspective(1000px) rotateY(360deg) rotateY(15deg) translateY(-30px);
    font-size: 10rem;
  }
  30% {
    /* background-position: 0 0; */
    transform: perspective(-1000px) rotateY(360deg) rotateY(15deg) translateY(30px);
    font-size: 8rem;
    background: none;
  }
  50% {
    /* background-position: 0 0; */
    transform: perspective(500px) rotateY(360deg) rotateY(45deg) translateY(50px);
    font-size: 6rem;
    background: none;
  }
  80% {
    /* background-position: 0 0; */
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    font-size: 5rem;
    background: none;
  }
  80% {
    /* background-position: 0 0; */
    transform: perspective(1000px) rotateY(360deg) rotateX(45deg) translateY(30px);
    font-size: 5rem;
    background: none;
  }
}

.summary {
  padding: 20px;
  color: rgb(255, 255, 255);
  height: 8rem;
  margin-top: -18%;
  border-radius: 0 5px 5px 0px;
  text-align: center;
  font-size: 26px;
}
.summary a {
  text-decoration: none;
  color: rgb(152, 38, 218);
  font-weight: bold;
}
.summary a:hover {
  color: rgba(68, 42, 148, 0.667);
  transition: 0.1s;
}
.summary abbr {
  text-decoration: none;
  font-weight: bold;
}
.summary abbr:hover {
  color: rgba(68, 42, 148, 0.667);
  transition: 0.1s;
}

.preamble {
  padding: 40px;
  border-radius: 5px 0 0 5px;
  line-height: 1.8rem;
}
.preamble abbr {
  text-decoration: none;
  font-weight: bold;
  color: rgb(152, 38, 218);
}
.preamble abbr:hover {
  color: rgba(68, 42, 148, 0.667);
  transition: 0.1s;
}
.preamble h3 {
  color: #0c0c0b;
  font-size: 2.8rem;
  padding-bottom: 20px;
  font-family: "Maven Pro", sans-serif;
}

.supporting {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODQ4NDUwLXdpa2ltZWRpYS1pbWFnZS1qb2I1NzItMS5qcGc.jpg") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto;
  grid-gap: 20px;
  grid-template-areas: "explanation participation" "benefits benefits" "requirements requirements" "footer footer";
  /* Styling sidebar */
  line-height: 1.5rem;
}
.supporting .explanation {
  grid-area: explanation;
  background: rgba(255, 255, 255, 0.219);
  color: #fff;
  padding: 15px;
  border-radius: 3px;
  transition: 1s ease-out;
}
.supporting .explanation:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 20px rgb(116, 189, 160), 0 0 50px #2a2aa7;
  color: #fff;
}
.supporting .participation {
  grid-area: participation;
  padding: 15px;
  background: rgba(255, 255, 255, 0.219);
  color: #fff;
  border-radius: 3px;
  transition: 1s ease-out;
}
.supporting .participation:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 20px rgb(116, 189, 160), 0 0 50px #2a2aa7;
  color: #fff;
}
.supporting .benefits {
  grid-area: benefits;
  background: rgba(255, 255, 255, 0.219);
  color: #fff;
  border-radius: 3px;
  padding: 15px;
  transition: 1s ease-out;
}
.supporting .benefits:hover {
  transform: scale(1.02);
  box-shadow: inset 0 0 20px rgb(116, 189, 160), 0 0 50px #2a2aa7;
  color: #fff;
}
.supporting .requirements {
  grid-area: requirements;
  background: rgba(255, 255, 255, 0.219);
  color: #fff;
  border-radius: 3px;
  padding: 15px;
  transition: 1s ease-out;
}
.supporting .requirements:hover {
  transform: scale(1.02);
  box-shadow: inset 0 0 20px rgb(116, 189, 160), 0 0 50px #2a2aa7;
  color: #fff;
}
.supporting aside {
  grid-area: aside;
  padding: 20px;
}
.supporting a {
  text-decoration: none;
}
.supporting a:hover {
  color: rgb(255, 255, 255);
  transition: 0.1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5) rgba(5, 5, 5, 0.5));
}
.supporting abbr {
  text-decoration: none;
  color: #ebee49;
}
.supporting abbr:hover {
  color: rgb(255, 255, 255);
  transition: 0.1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5) rgba(5, 5, 5, 0.5));
}

aside {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODQ4NDUwLXdpa2ltZWRpYS1pbWFnZS1qb2I1NzItMS5qcGc.jpg") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
aside .select {
  color: rgba(82, 51, 112, 0.5568627451);
}
aside aside nav li {
  list-style-type: none;
}
aside aside nav li a {
  text-decoration: none;
  color: #000;
  line-height: 2rem;
}
aside aside nav li a:hover {
  color: rgba(68, 42, 148, 0.667);
  transition: 0.1s;
}

.main h3 {
  color: #e9e9dc;
  padding-bottom: 10px;
  font-family: "Maven Pro", sans-serif;
}

.design-selection {
  color: rgb(255, 255, 255);
  padding: 20px;
  background: rgba(82, 51, 112, 0.5568627451);
  margin: 20px;
  border-radius: 10px;
  transition: 1s ease-out;
}
.design-selection li a {
  color: rgb(255, 255, 255);
}

.design-selection:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 20px rgb(116, 189, 160), 0 0 50px #2a2aa7;
}

.design-archives {
  color: rgb(255, 255, 255);
  padding: 20px;
  background: rgba(64, 94, 94, 0.582);
  margin: 20px;
  border-radius: 10px;
  transition: 1s ease-out;
}
.design-archives li a {
  color: rgb(255, 255, 255);
}

.design-archives:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 20px rgb(116, 189, 160), 0 0 50px #2a2aa7;
}

.zen-resources {
  color: rgb(255, 255, 255);
  padding: 20px;
  background: rgba(97, 121, 73, 0.596);
  margin: 20px;
  border-radius: 10px;
  transition: 1s ease-out;
}
.zen-resources abbr {
  color: rgb(255, 255, 255);
}
.zen-resources abbr:hover {
  color: rgba(68, 42, 148, 0.667);
  transition: 0.1s;
}
.zen-resources [title] {
  color: rgb(255, 255, 255);
}

.zen-resources:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 20px rgb(116, 189, 160), 0 0 50px #2a2aa7;
}

aside .select {
  color: #fff;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

aside nav li {
  list-style-type: none;
}

aside nav li a {
  text-decoration: none;
  color: #000;
  line-height: 2rem;
}

aside nav li a:hover {
  color: rgba(68, 42, 148, 0.667);
  transition: 0.1s;
}

.design-archives h3 {
  color: #fff;
  margin-top: 10px;
  padding-bottom: 20px;
  font-size: 1.6rem;
}

.zen-resources h3 {
  color: #fff;
  margin-top: 10px;
  padding-bottom: 20px;
  font-size: 1.6rem;
}

.zen-resources ul li {
  list-style-type: none;
}

.zen-resources ul li a {
  text-decoration: none;
  line-height: 2rem;
  color: #0000;
}

.zen-resources ul li a:hover {
  position: relative;
  color: rgba(153, 136, 204, 0.6666666667);
  transition: 0.1s;
}

.zen-resources abbr {
  text-decoration: none; 
}

footer {
  display: flex;
  grid-area: footer;
  background: rgba(91, 91, 182, 0.4235294118);
  border-radius: 3px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  padding: 10px 20px;
}
footer a:hover {
  color: rgb(255, 255, 255);
  background: rgba(54, 161, 134, 0.4196078431);
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
